<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yog.sangeet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--For accessing audio files on android13-->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <!--Notifications Android13-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!--For forgroundServiceType=mediaPlayback android 14-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <application
        android:name=".MusicApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sangeet_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sangeet_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sangeet"
        tools:targetApi="31">
        <!--used taskAffinity here, taskAffinity tells in which task the activity will be launched
        by default the taskAffinity for all activity is the package name of the app.
        So if don't specifiy the taskAffinity here then ExoPlayerActivity will also get launched
        in the same task as MainActivity-->
        <activity
            android:name=".ExoPlayerActivity"
            android:theme="@style/PlayerTheme"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".MusicList" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceToStartSong"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="headphone_removal" />
            </intent-filter>
        </service>

        <service android:name=".sangeet_online.SangeetService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
        </service>

    </application>

</manifest>